<div id="pageContent">
    <div class="container">
        <!-- two col -->
        <div class="row">
            <!-- left-col -->
            <aside class="col-md-3">
                <!-- title -->
                <div class="title-box">
                    <h2 class="text-left text-uppercase title-under">MY ACCOUNT</h2>
                </div>
                <!-- /title -->
                <ul class="simple-list">
                    <li><a href="#">Account Dashboard</a></li>
                    <li><a href="#">Account Information</a></li>
                    <li><a href="#">Address Book</a></li>
                    <li><a href="#">My Orders</a></li>
                    <li><a href="#">Billing Agreements</a></li>
                    <li><a href="#">Recurring Profiles</a></li>
                    <li><a href="#">My Product Reviews</a></li>
                    <li><a href="#">My Tags</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">My Applications</a></li>
                    <li><a href="#">Newsletter Subscriptions</a></li>
                    <li><a href="#">My Downloadable Products</a></li>
                </ul>
            </aside>
            <!-- /left-col -->
            <div class="divider divider--lg  visible-sm visible-xs"></div>
            <!-- center-col -->
            <div class="col-md-9">
                <!-- title -->
                <div class="title-box">
                    <h1 class="text-left text-uppercase title-under">FAQS</h1>
                </div>
                <!-- /title -->
                <h3 class="color font30">Delivery</h3>
                <slideToggle [open]="true" class="collapse-block">
                    <div title>sdfsdf</div>
                    <div content>content for testing</div>
                </slideToggle>
                <slideToggle >
                    <div title>title 2</div>
                    <div content>content2</div>
                </slideToggle>

                <div class="divider divider--md"></div>
                <h3 class="color font30">Warranty</h3>
                <!--  -->
                <slideToggle>
                    <div title="">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.?</div>
                    <div content="">                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </slideToggle>
                <!-- / -->
                <!--  -->
                <slideToggle>
                    <div title="">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.?</div>
                    <div content="">                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </slideToggle>
                <!-- / -->

            </div>
            <!-- /center-col -->
        </div>
        <!-- /two col -->
    </div>
</div>