<div class="wrapper">
    <div *ngIf="showQty" [ngClass]="{'pull-left':showQty}"><span class="qty-label">QTY:</span></div>
    <div *ngIf="showQty" [ngClass]="{'pull-left':showQty}">
        <!--  -->
        <div class="number input-counter" #counter>
            <span class="minus-btn" #minusButton></span>
            <input type="text" value="1" size="5" [(ngModel)]="qty"/>
            <span class="plus-btn" #plusButton></span>
        </div>
        <!-- / -->
    </div>

    <div [ngClass]="{'pull-left':showQty}"> <button (click)="addToCart()" [ngClass]="showQty?'btn--xxl':'btn--xl'" class="btn btn--ys"><span class="icon icon-shopping_basket">
        </span > Add to cart</button>
    </div>
</div>

