<div class="product__inside__info">
    <div class="product__inside__info__btns"> <a (click)="addToCart()" class="btn btn--ys btn--xl"><span class="icon icon-shopping_basket">
        </span > Add to cart</a>
        <a href="#" class="btn btn--ys btn--xl visible-xs"><span class="icon icon-favorite_border"></span></a>
        <a href="#" class="btn btn--ys btn--xl visible-xs"><span class="icon icon-sort"></span></a>
        <a href="#" class="btn btn--ys btn--xl  row-mode-visible hidden-xs"><span class="icon icon-visibility"></span> Quick view</a>
    </div>
    <ul class="product__inside__info__link hidden-xs">
        <li class="text-right"><span class="icon icon-favorite_border  tooltip-link"></span><a href="#"><span class="text">Add to wishlist</span></a></li>
        <li class="text-left"><span class="icon icon-sort  tooltip-link"></span><a href="#" class="compare-link"><span class="text">Add to compare</span></a></li>
    </ul>
</div>