
<div class="modal  modal--bg  fade"  id="cartModal">
    <div class="modal-dialog white-modal" style="width: inherit!important;">
        <div class="modal-content container">
            <div class="modal-header text-right">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <div class="product-popup">
                <div class="product-popup-content">
                    <div class="container-fluid">
                        <div class="row table-responsive">
                            <h5 class="">您的产品</h5>
                            <div *ngIf="itemsCount<=0">
                                <div class="cart__item__info__title">
                                    <h2><a routerLink="#">你的购物袋现在为空!</a></h2>
                                </div>
                            </div>
                            <table class="table table-params">
                                <thead>
                                <tr>
                                    <th>产品</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>小计</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of cart">
                                    <td>
                                        <h5 class="text-left text-uppercase">
                                            <a routerLink="/product/{{product.id}}">{{product.product.name}}</a>
                                        </h5>
                                        <div class='multitooltip'>
                                            <a>详情</a>
                                            <div class="tip on-bottom">
                                                <span><strong>颜色:</strong> Purple</span>
                                                <span><strong>Size:</strong> 4"x3.5"</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="order-review-table__product-price unit-price">
                                            {{product.price}}
                                        </div>
                                    </td>
                                    <td>
                                        <span class="color">{{product.quantity}}</span>
                                    </td>
                                    <td>
                                        <div class="order-review-table__product-price subtotal">
                                            {{cartService.getSubTotal(product)}}
                                        </div>
                                    </td>
                                    <td>
                                        <a class="cart__item__delete" (click)="deleteItem(product)"><a  class="icon icon-delete"><span>&nbsp;删除</span></a></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <div class="">总价: <span> {{cartService.getTotalPrice()}}</span></div>
                    <button class="btn btn--ys btn-checkout" routerLink="/checkout">付款 <span class="icon icon--flippedX icon-reply"></span></button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

