
<div class="modal  modal--bg  fade new-modal"  id="cartModal">
    <div class="modal-dialog white-modal">
        <div class="modal-content container">
            <div class="modal-header text-right">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <div class="product-popup">
                <div class="product-popup-content">
                    <div class="container-fluid">
                        <div class="row table-responsive p-a">
                            <h5 class="">您的产品</h5>
                            <div *ngIf="itemsCount<=0">
                                <div class="cart__item__info__title">
                                    <h2><a routerLink="#">你的购物袋现在为空!</a></h2>
                                </div>
                            </div>
                            <div class="list" >
                                <div class="list-group-item clearfix hidden-xs">
                                    <div class="col-sm-4">产品</div>
                                    <div class="col-sm-2">图片</div>
                                    <div class="col-sm-1">单价</div>
                                    <div class="col-sm-1">数量</div>
                                    <div class="col-sm-3">小计</div>
                                    <div class="col-sm-1">操作</div>
                                </div>
                                <div class="list-group-item clearfix" *ngIf="cartService.getCart().length<1">
                                    <td>你还有没有添加任何的产品!&nbsp;<a routerLink="/products"  class="btn btn--ys btn--xl">现在去添加吧! <span class="icon icon--flippedX icon-reply"></span></a>
                                    </td>
                                </div>
                                <div class="list-group-item clearfix" *ngIf="nonOverseaProducts.length>0" >
                                    境内产品:
                                </div>
                                <div class="list-group-item clearfix" *ngFor="let product of nonOverseaProducts">
                                    <div class="col-sm-4">
                                        <h5 class="order-review-table__product-name text-left text-uppercase">
                                            <a routerLink="/product/{{product.id}}">{{product.product.name}}</a>
                                        </h5>
                                        <ul class="order-review-table__list-parameters">
                                            <li>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2">
                                        <img src="{{product.product.mainMedia+'?size=80x120'|imgUrl}}"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="order-review-table__product-price unit-price">
                                            {{product.price}}
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="number" step="1" min="1" [(ngModel)]="product.quantity" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="order-review-table__product-price subtotal">
                                            {{cartService.getSubTotal(product)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <a (click)="cartService.deleteItem(product)" class="btn btn--bg-green "><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item clearfix" *ngIf="nonOverseaProducts.length>0">
                                    境内产品总计:{{cartService.getNonOverseaTotalPrice().toFixed(2)}}
                                </div>
                                <div class="list-group-item clearfix" *ngIf="overseaProducts.length>0">
                                    <td>直邮产品:</td>
                                </div>

                                <div *ngFor="let product of overseaProducts">
                                    <div class="col-sm-4">
                                        <h5 class="order-review-table__product-name text-left text-uppercase">
                                            <a routerLink="/product/{{product.id}}">{{product.product.name}}</a>
                                        </h5>
                                        <ul class="order-review-table__list-parameters">
                                            <li>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2">
                                        <img src="{{product.product.mainMedia+'?size=80x120'|imgUrl}}"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="order-review-table__product-price unit-price">
                                            {{product.price}}
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <input step="1" type="number" min="1" class="form-control" [(ngModel)]="product.quantity">
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="order-review-table__product-price subtotal">
                                            {{cartService.getSubTotal(product)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <a (click)="cartService.deleteItem(product)" class="btn btn--bg-green "><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item clearfix" *ngIf="overseaProducts.length>0">
                                    直邮产品总计:{{cartService.getOverseaTotalPrice().toFixed(2)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <div class="">总价: <span> {{cartService.getTotalPrice()}}</span></div>
                    <button class="btn btn--ys btn-checkout" routerLink="/checkout">付款 <span class="icon icon--flippedX icon-reply"></span></button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

