<div class="testimonialsAsid nav-dot nav-dot-invert " #slides>
    <a *ngFor="let product of Products|async" href="blog-post-right-column.html" class="link-hover-block">
            <div class="text-center">
                <img class="img-responsive-inline" src="/assets/images/custom/slider-blog-img01.jpg" alt="">
                <p>
                    <span class="icon"></span> Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis.
                </p>
                <p>
                    <b>Eleanor</b><br>
                    <em>designer</em>
                </p>
            </div>
        </a>
</div>
