<!-- End HEADER section -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb--ys pull-left">
            <li class="home-link"><a href="index.html" class="icon icon-home"></a></li>
            <li><a href="#">Women’s</a></li>
            <li class="active">Dresses</li>
        </ol>
    </div>
</div>
<!-- /breadcrumbs -->
<!-- CONTENT section -->
<div id="pageContent">
    <div class="container">
        <!-- two columns -->
        <div class="row">
            <!-- left column -->
            <aside class="col-md-4 col-lg-3 col-xl-2" id="leftColumn">

                <!-- 分类 -->
                <div [ngClass]="{'open ':isCurrentFirst(fc.id)}" toggle class="collapse-block" *ngFor="let fc of firstLevelCategories ">
                    <h4 class="collapse-block__title">{{fc.name}}</h4>
                    <div class="collapse-block__content" [ngClass]="{'show ':isCurrentFirst(fc.id)}">
                        <ul class="tags-list">
                            <li  *ngFor="let sc of secondLevelCategories[fc.id]">
                                <a *ngIf="sc.name=='冻鲜礼包'" routerLink="/products/{{sc.id}}co" [ngClass]="{'bg-ys':isCurrentCategory(sc.id,sc.name)}">{{sc.name}}</a>
                                <a *ngIf="sc.name!='冻鲜礼包'" routerLink="/products/{{sc.id}}" [ngClass]="{'bg-ys':isCurrentCategory(sc.id,sc.name)}">{{sc.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /tags block -->

            </aside>
            <!-- /left column -->
            <!-- center column -->
            <aside class="col-md-8 col-lg-9 col-xl-10" id="centerColumn">
                <!-- title -->
                <div class="title-box" [ngStyle]="{'opacity':(fetching?0.5:1)}">
                    <h2 class="text-center text-uppercase title-under">{{categoryName}}</h2>
                </div>
                <!-- /title -->
                <!--<div class="offset-top-20">-->
                    <!--<p class="light-font">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui.</p>-->
                <!--</div>-->
                <div class="divider"></div>
                <div class="row" *ngIf="firstLevelCategory">
                    <div *ngFor="let c of currentSecondLevelCategories" class="subcategory-item col-sm-4 col-xs-6 col-xl-one-fifth">
                        <a  routerLink="/products/{{c.id}}#{{c.name}}">
                            <!--<span class="figure"> <img src="/assets/images/custom/subcategory-1.jpg" alt="" class="img-responsive" /> </span>-->
                            <h3 class="subcategory-item__title">{{c.name}}</h3>
                        </a>
                    </div>
                </div>
                <div class="row" *ngIf="!fetching&&!productsNotEmpty()">
                    <div class="panel">
                        <div class="panel-body text-warning text-center">暂时没有这类产品,抱歉亲,我们正在努力添加&nbsp;<i class="fa fa-smile-o"></i></div>
                    </div>
                </div>
                <div class="product-listing row" style="min-height: 400px;">
                    <div class="float-above" *ngIf="fetching"><span class="fa fa-spin fa-spinner"></span></div>
                    <div *ngFor="let product of products" class="col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth" [ngStyle]="{'opacity':(fetching?0.5:1)}">
                        <!-- product -->
                        <div class="product product--zoom">
                            <div class="product__inside">
                                <!-- product image -->
                                <div class="product__inside__image">
                                    <!-- product image carousel -->
                                    <div class="product__inside__carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <a routerLink="/product/{{product.id}}co" *ngIf="currentCategoryId=='96'">
                                                    <img src="{{product.mainMedia | imgUrl}}" alt="">
                                                </a>
                                                <a routerLink="/product/{{product.id}}" *ngIf="currentCategoryId!='96'">
                                                    <img src="{{product.mainMedia | imgUrl}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Controls -->
                                        <!--<a class="carousel-control next"></a> <a class="carousel-control prev"></a>-->
                                    </div>
                                    <!-- /product image carousel -->
                                    <!-- quick-view -->
                                    <a  productModal [product]="product"  class="quick-view"><b><span class="icon icon-visibility"></span>预览</b> </a>
                                    <!-- /quick-view -->
                                    <!-- countdown_box -->
                                    <div class="countdown_box">
                                        <div class="countdown_inner">
                                            <div id="countdown1"></div>
                                        </div>
                                    </div>
                                    <!-- /countdown_box -->
                                </div>
                                <!-- /product image -->
                                <!-- label news -->
                                <!--<div class="product__label product__label&#45;&#45;right product__label&#45;&#45;new"> <span>new</span> </div>-->
                                <!-- /label news -->
                                <!-- label sale -->
                                <div *ngIf="product.sale" class="product__label product__label--left product__label--sale"> <span>促销<br>
											-{{product.sale.rate}}%</span>
                                </div>
                                <!-- /label sale -->
                                <!-- product name -->
                                <div class="product__inside__name">
                                    <h2>
                                        <a *ngIf="currentCategoryId==96" routerLink="/product/{{product.id}}co">{{product.name}}</a>
                                        <a *ngIf="currentCategoryId!=96" routerLink="/product/{{product.id}}">{{product.name}}</a>
                                    </h2>
                                </div>
                                <!-- /product name -->
                                <!-- product description -->
                                <!-- visible only in row-view mode -->
                                <div class="product__inside__description row-mode-visible"> {{product.description}} </div>
                                <!-- /product description -->
                                <!-- product price -->
                                <div class="product__inside__price price-box">{{product.unit?product.unit.levelThreePrice:product.levelThreePrice}}<span *ngIf="product.sale" class="price-box__old">$28.00</span></div>

                                <div class="product__inside__hover">

                                    <addToCart [item]="product"></addToCart>
                                    <!-- /product info -->
                                    <!-- product rating -->
                                    <!--<div class="rating row-mode-hide"> <span class="icon-star"></span> <span class="icon-star"></span> <span class="icon-star"></span> <span class="icon-star"></span> <span class="icon-star empty-star"></span> </div>-->
                                    <!-- /product rating -->
                                </div>
                            </div>
                        </div>
                        <!-- /product -->
                    </div>
                </div>



                <!-- filters row -->
                <div *ngIf="productsNotEmpty()" class="filters-row">
                    <div class="pull-left">
                        <div class="filters-row__mode">
                            <a href="#" class="btn btn--ys slide-column-open visible-xs visible-sm hidden-xl hidden-lg hidden-md">Filter</a>
                            <a class="filters-row__view active link-grid-view btn-img btn-img-view_module"><span></span></a>
                            <a class="filters-row__view link-row-view btn-img btn-img-view_list"><span></span></a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="filters-row__items hidden-sm hidden-xs">总共{{products.length}}</div>
                        <div class="filters-row__select hidden-sm hidden-xs">
                            <label>显示: </label>
                            <div class="select-wrapper">
                                <select class="select--ys show-qty" [(ngModel)]="perPage">
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <a href="#" class="icon icon-arrow-down active"></a><a href="#" class="icon icon-arrow-up"></a>
                        </div>
                        <div class="filters-row__pagination">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><span class="icon icon-chevron_right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /filters row -->
            </aside>
            <!-- center column -->
        </div>
        <!-- /two columns -->
    </div>
</div>
<!-- End CONTENT section -->