/* You can add global styles to this file, and also import other style files */

/*backgrounds*/
.bg-white{
 background-color: white;
}

.clearfix{
 clear: both;
}

.bg-ys{
  background-color: #f96332 !important;
}
.show{
 display: block;
}

.float-above{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -2.5em;
 margin-left: -2.5em;
 /*background-color: #fa6b6b;*/
 width: 5em;
 height: 5em;
 /*background: rgba(250, 107, 107, 0.35);*/
 text-transform: uppercase;
 color: #fa6b6b;
 font-size: 5em;
 line-height: 5em;
 text-align: center;
 border-radius: 50%;
}
.float-above span{
 display: table-cell;
 width: 5em;
 height: 5em;
 vertical-align: middle;
}


/*custom margins */
/*padding and background*/

.bg-inverse {
 color: #eceeef;
 background-color: #373a3c;
}

.bg-faded {
 background-color: #f7f7f9;
}

.bg-primary {
 color: #fff;
 background-color: #0275d8;
}

a.bg-primary:focus,
a.bg-primary:hover {
 background-color: #025aa5;
}

.bg-success {
 color: #fff;
 background-color: #5cb85c;
}

a.bg-success:focus,
a.bg-success:hover {
 background-color: #449d44;
}

.bg-info {
 color: #fff;
 background-color: #5bc0de;
}
.bg-orange{
 background: #F05A28;
}

a.bg-info:focus,
a.bg-info:hover {
 background-color: #31b0d5;
}

.bg-warning {
 color: #fff;
 background-color: #f0ad4e;
}

a.bg-warning:focus,
a.bg-warning:hover {
 background-color: #ec971f;
}

.bg-danger {
 color: #fff;
 background-color: #d9534f;
}

a.bg-danger:focus,
a.bg-danger:hover {
 background-color: #c9302c;
}
.bg-grey{
 background-color: #f6f7f7;
}
.bg-transparent{
 background-color: transparent;
}
.m-a-0 {
 margin: 0 !important;
}

.m-t-0 {
 margin-top: 0 !important;
}

.m-r-0 {
 margin-right: 0 !important;
}

.m-b-0 {
 margin-bottom: 0 !important;
}

.m-l-0 {
 margin-left: 0 !important;
}

.m-x-0 {
 margin-right: 0 !important;
 margin-left: 0 !important;
}

.m-y-0 {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}

.m-a {
 margin: 1rem !important;
}

.m-t {
 margin-top: 1rem !important;
}

.m-r {
 margin-right: 1rem !important;
}

.m-b {
 margin-bottom: 1rem !important;
}

.m-l {
 margin-left: 1rem !important;
}

.m-x {
 margin-right: 1rem !important;
 margin-left: 1rem !important;
}

.m-y {
 margin-top: 1rem !important;
 margin-bottom: 1rem !important;
}

.m-x-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}

.m-a-md {
 margin: 1.5rem !important;
}

.m-t-md {
 margin-top: 1.5rem !important;
}

.m-r-md {
 margin-right: 1.5rem !important;
}

.m-b-md {
 margin-bottom: 1.5rem !important;
}

.m-l-md {
 margin-left: 1.5rem !important;
}

.m-x-md {
 margin-right: 1.5rem !important;
 margin-left: 1.5rem !important;
}

.m-y-md {
 margin-top: 1.5rem !important;
 margin-bottom: 1.5rem !important;
}

.m-a-lg {
 margin: 3rem !important;
}

.m-t-lg {
 margin-top: 3rem !important;
}

.m-r-lg {
 margin-right: 3rem !important;
}

.m-b-lg {
 margin-bottom: 3rem !important;
}

.m-l-lg {
 margin-left: 3rem !important;
}

.m-x-lg {
 margin-right: 3rem !important;
 margin-left: 3rem !important;
}

.m-y-lg {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
}

.p-a-0 {
 padding: 0 !important;
}

.p-t-0 {
 padding-top: 0 !important;
}

.p-r-0 {
 padding-right: 0 !important;
}

.p-b-0 {
 padding-bottom: 0 !important;
}

.p-l-0 {
 padding-left: 0 !important;
}

.p-x-0 {
 padding-right: 0 !important;
 padding-left: 0 !important;
}

.p-y-0 {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}

.p-a {
 padding: 1rem !important;
}

.p-t {
 padding-top: 1rem !important;
}

.p-r {
 padding-right: 1rem !important;
}

.p-b {
 padding-bottom: 1rem !important;
}

.p-l {
 padding-left: 1rem !important;
}

.p-x {
 padding-right: 1rem !important;
 padding-left: 1rem !important;
}

.p-y {
 padding-top: 1rem !important;
 padding-bottom: 1rem !important;
}

.p-a-md {
 padding: 1.5rem !important;
}

.p-t-md {
 padding-top: 1.5rem !important;
}

.p-r-md {
 padding-right: 1.5rem !important;
}

.p-b-md {
 padding-bottom: 1.5rem !important;
}

.p-l-md {
 padding-left: 1.5rem !important;
}

.p-x-md {
 padding-right: 1.5rem !important;
 padding-left: 1.5rem !important;
}

.p-y-md {
 padding-top: 1.5rem !important;
 padding-bottom: 1.5rem !important;
}

.p-a-lg {
 padding: 3rem !important;
}

.p-t-lg {
 padding-top: 3rem !important;
}

.p-r-lg {
 padding-right: 3rem !important;
}

.p-b-lg {
 padding-bottom: 3rem !important;
}

.p-l-lg {
 padding-left: 3rem !important;
}

.p-x-lg {
 padding-right: 3rem !important;
 padding-left: 3rem !important;
}

.p-y-lg {
 padding-top: 3rem !important;
 padding-bottom: 3rem !important;
}

.pos-f-t {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1030;
}


/*margins*/
.m-a-sm {
 margin: 0.5rem !important; }

.m-t-sm {
 margin-top: 0.5rem !important; }

.m-r-sm {
 margin-right: 0.5rem !important; }

.m-b-sm {
 margin-bottom: 0.5rem !important; }

.m-l-sm {
 margin-left: 0.5rem !important; }

.m-x-sm {
 margin-right: 0.5rem !important;
 margin-left: 0.5rem !important; }

.m-y-sm {
 margin-top: 0.5rem !important;
 margin-bottom: 0.5rem !important; }

.m-a-xs {
 margin: 0.25rem !important; }

.m-t-xs {
 margin-top: 0.25rem !important; }

.m-r-xs {
 margin-right: 0.25rem !important; }

.m-b-xs {
 margin-bottom: 0.25rem !important; }

.m-l-xs {
 margin-left: 0.25rem !important; }

.m-x-xs {
 margin-right: 0.25rem !important;
 margin-left: 0.25rem !important; }

.m-y-xs {
 margin-top: 0.25rem !important;
 margin-bottom: 0.25rem !important; }

.p-a-sm {
 padding: 0.5rem !important; }

.p-t-sm {
 padding-top: 0.5rem !important; }

.p-r-sm {
 padding-right: 0.5rem !important; }

.p-b-sm {
 padding-bottom: 0.5rem !important; }

.p-l-sm {
 padding-left: 0.5rem !important; }

.p-x-sm {
 padding-right: 0.5rem !important;
 padding-left: 0.5rem !important; }

.p-y-sm {
 padding-top: 0.5rem !important;
 padding-bottom: 0.5rem !important; }

.p-a-xs {
 padding: 0.25rem !important; }

.p-t-xs {
 padding-top: 0.25rem !important; }

.p-r-xs {
 padding-right: 0.25rem !important; }

.p-b-xs {
 padding-bottom: 0.25rem !important; }

.p-l-xs {
 padding-left: 0.25rem !important; }

.p-x-xs {
 padding-right: 0.25rem !important;
 padding-left: 0.25rem !important; }

.p-y-xs {
 padding-top: 0.25rem !important;
 padding-bottom: 0.25rem !important; }
.padding {
 padding: 1.5rem 1.5rem; }

.margin {
 margin-bottom: 1.5rem; }

.padding-out {
 margin: -1.5rem -1.5rem; }

/*vertical aligns*/
.vertical-align-bottom {
 vertical-align: bottom !important;
}

.vertical-align-middle {
 vertical-align: middle !important;
}

.vertical-align-top {
 vertical-align: top !important;
}
.transform{
 transform: translate(300px);
}

/*padding and background*/
.bg-white{
 background: #ffffff;
}
/*bottom tabs*/
.bottom-tabs{
 position: fixed;
 bottom: 0px;
 z-index: 10;
 background: #fff;
 width: 100%;
}
._20_per{
 width: 20%;
 float: left;
}
._25_per{
 width: 25%;
 float: left;
}
.label.up{
 position: relative;
 top: -10px;
 min-width: 4px;
 min-height: 4px;
 display: inline-block; }
.up {
 position: relative;
 top: -10px;
 min-width: 4px;
 min-height: 4px;
 display: inline-block; }


/*

padding margin
*/
.padding-5 {
 padding: 5px !important;
}

.padding-10 {
 padding: 10px !important;
}

.padding-15 {
 padding: 15px !important;
}

.padding-20 {
 padding: 20px !important;
}

.padding-25 {
 padding: 25px !important;
}

.padding-30 {
 padding: 30px !important;
}

.padding-35 {
 padding: 35px !important;
}

.padding-40 {
 padding: 40px !important;
}

.padding-horizontal-5 {
 padding: 0 5px !important;
}

.padding-horizontal-10 {
 padding: 0 10px !important;
}

.padding-horizontal-15 {
 padding: 0 15px !important;
}

.padding-horizontal-20 {
 padding: 0 20px !important;
}

.padding-vertical-10 {
 padding: 10px 0 !important;
}

.padding-vertical-15 {
 padding: 15px 0 !important;
}

.padding-vertical-20 {
 padding: 20px 0 !important;
}

.padding-bottom-0 {
 padding-bottom: 0px !important;
}

.padding-bottom-5 {
 padding-bottom: 5px !important;
}

.padding-bottom-10 {
 padding-bottom: 10px !important;
}

.padding-bottom-15 {
 padding-bottom: 15px !important;
}

.padding-bottom-20 {
 padding-bottom: 20px !important;
}

.padding-bottom-25 {
 padding-bottom: 25px !important;
}

.padding-bottom-30 {
 padding-bottom: 30px !important;
}

.padding-bottom-35 {
 padding-bottom: 35px !important;
}

.padding-bottom-40 {
 padding-bottom: 40px !important;
}

.padding-bottom-45 {
 padding-bottom: 45px !important;
}

.padding-bottom-50 {
 padding-bottom: 50px !important;
}

.padding-top-0 {
 padding-top: 0px !important;
}

.padding-top-5 {
 padding-top: 5px !important;
}

.padding-top-10 {
 padding-top: 10px !important;
}

.padding-top-15 {
 padding-top: 15px !important;
}

.padding-top-20 {
 padding-top: 20px !important;
}

.padding-top-25 {
 padding-top: 25px !important;
}

.padding-top-30 {
 padding-top: 30px !important;
}

.padding-top-35 {
 padding-top: 35px !important;
}

.padding-top-40 {
 padding-top: 40px !important;
}

.padding-top-45 {
 padding-top: 45px !important;
}

.padding-top-50 {
 padding-top: 50px !important;
}

.padding-left-0 {
 padding-left: 0px !important;
}

.padding-left-5 {
 padding-left: 5px !important;
}

.padding-left-10 {
 padding-left: 10px !important;
}

.padding-left-15 {
 padding-left: 15px !important;
}

.padding-left-20 {
 padding-left: 20px !important;
}

.padding-left-25 {
 padding-left: 25px !important;
}

.padding-left-30 {
 padding-left: 30px !important;
}

.padding-left-35 {
 padding-left: 35px !important;
}

.padding-left-40 {
 padding-left: 40px !important;
}

.padding-left-45 {
 padding-left: 45px !important;
}

.padding-left-50 {
 padding-left: 50px !important;
}

.padding-right-0 {
 padding-right: 0px !important;
}

.padding-right-5 {
 padding-right: 5px !important;
}

.padding-right-10 {
 padding-right: 10px !important;
}

.padding-right-15 {
 padding-right: 15px !important;
}

.padding-right-20 {
 padding-right: 20px !important;
}

.padding-right-25 {
 padding-right: 25px !important;
}

.padding-right-30 {
 padding-right: 30px !important;
}

.padding-right-35 {
 padding-right: 35px !important;
}

.padding-right-40 {
 padding-right: 40px !important;
}

.padding-right-45 {
 padding-right: 45px !important;
}

.padding-right-50 {
 padding-right: 50px !important;
}

.margin-bottom-0 {
 margin-bottom: 0px !important;
}

.margin-bottom-5 {
 margin-bottom: 5px !important;
}

.margin-bottom-10 {
 margin-bottom: 10px !important;
}

.margin-bottom-15 {
 margin-bottom: 15px !important;
}

.margin-bottom-20 {
 margin-bottom: 20px !important;
}

.margin-bottom-25 {
 margin-bottom: 25px !important;
}

.margin-bottom-30 {
 margin-bottom: 30px !important;
}

.margin-top-0 {
 margin-top: 0px !important;
}

.margin-top-5 {
 margin-top: 5px !important;
}

.margin-top-10 {
 margin-top: 10px !important;
}

.margin-top-15 {
 margin-top: 15px !important;
}

.margin-top-20 {
 margin-top: 20px !important;
}

.margin-top-25 {
 margin-top: 25px !important;
}

.margin-top-30 {
 margin-top: 30px !important;
}

.margin-right-0 {
 margin-right: 0px !important;
}

.margin-right-5 {
 margin-right: 5px !important;
}

.margin-right-10 {
 margin-right: 10px !important;
}

.margin-right-15 {
 margin-right: 15px !important;
}

.margin-right-20 {
 margin-right: 20px !important;
}

.margin-right-25 {
 margin-right: 25px !important;
}

.margin-right-30 {
 margin-right: 30px !important;
}

.margin-left-0 {
 margin-left: 0px !important;
}

.margin-left-5 {
 margin-left: 5px !important;
}

.margin-left-10 {
 margin-left: 10px !important;
}

.margin-left-15 {
 margin-left: 15px !important;
}

.margin-left-20 {
 margin-left: 20px !important;
}

.margin-left-25 {
 margin-left: 25px !important;
}

.margin-left-30 {
 margin-left: 30px !important;
}

.min-height-50{
 min-height: 50px !important;
}
.min-height-90{
 min-height: 90px !important;
}
.min-height-155 {
 min-height: 155px !important;
}

.min-height-180 {
 min-height: 180px !important;
}

.min-height-200 {
 min-height: 200px !important;
}

.min-height-230 {
 min-height: 230px !important;
}

.min-height-250 {
 min-height: 250px !important;
}

.min-height-270 {
 min-height: 270px !important;
}

.min-height-280 {
 min-height: 280px !important;
}

.min-height-300 {
 min-height: 300px !important;
}

.min-height-350 {
 min-height: 350px !important;
}
.min-height-400 {
 min-height: 400px !important;
}
.min-height-500 {
 min-height: 500px !important;
}
.min-height-520 {
 min-height: 520px !important;
}
.min-height-540 {
 min-height: 540px !important;
}
.min-height-460 {
 min-height: 460px !important;
}
.height-400 {
 height: 400px !important;
}




/*product related*/
.product-caption{
 min-height: 30px;
 margin-top: 10px;
 font-weight: 400;
 font-size: 16px;
}
.product-desc{
 color:#888;
 min-height:90px;
}
.product-item:hover{
 /*border: #F05A28 solid 2px;*/
}
.product-wrapper .inner{
 border: #f6f7f7 solid 1px;

}
.product-wrapper .inner:hover{
 border: #F05A28 solid 4px;
}
.product-wrapper a:hover{
 text-decoration: none !important;
 /*opacity: 0.6 !important;*/
}
.product-item,.product-price{
 margin-top: 20px;
}
@media(max-width: 992px) {
 .product-caption{
  font-size:14px
 }
 .product-item,.product-price{
  margin-top: 10px;
 }
 .product-desc{
  color:#888;
  min-height:70px;
 }
}

.menu-cart{
 padding: 0;
}
.menu-cart label{
 cursor: pointer;
}
/*
featured brand
*/
.featured-brand-list{
 display: inline-block;
}
.line-through{
 text-decoration: line-through;
}
.float-above-container{
 position: relative;
 overflow: hidden;
}

.float-above{
 position: absolute;
 top: 0;
 z-index: 2;
 transition: all 0.3s ease-out;
 -webkit-transition: all 0.3s ease-out;
 -moz-transition: all 0.3s ease-out;
}

.discount-tag{
 position: absolute;
 z-index: 2;
 left: -50px;
 top: 20px;
 width: 200px;
 height: 50px;
 line-height: 50px;
 font-size: 30px;
 text-align: center;
 background: #ed6d51;
 color: #fff;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
}
.product-right-content{
 right: 58px;
 height: 100%;
 width:335px;
 top:-10px;
}
.sale-tag{
 left: 380px;
 top: 220px;
}

/*product category tab*/
#myTab4 li{
 min-width:87px ;
 text-align: center;
}

/* ---------------------------------------------------------------------- */
/*  Accordion
/* ---------------------------------------------------------------------- */
.accordion .panel {
 border: none;
 -moz-border-radius: 0;
 -webkit-border-radius: 0;
 border-radius: 0;
 -moz-box-shadow: 0, 0, 0, transparent;
 -webkit-box-shadow: 0, 0, 0, transparent;
 box-shadow: 0, 0, 0, transparent;
}
.accordion .panel-heading {
 padding: 0;
 background-image: none;
 height: auto;
 min-height: 0;
 -moz-box-shadow: 0, 0, 0, transparent;
 -webkit-box-shadow: 0, 0, 0, transparent;
 box-shadow: 0, 0, 0, transparent;
 -moz-border-radius: 0;
 -webkit-border-radius: 0;
 border-radius: 0;
}
.accordion .panel-heading .accordion-toggle {
 background-color: #E6E8E8;
 color: #5b5b60;
 display: block;
 font-size: 13px;
 line-height: 20px;
 padding: 10px;
 position: relative;
}
.accordion .panel-heading .accordion-toggle:hover, .accordion .panel-heading .accordion-toggle:focus {
 text-decoration: none;
}
.accordion .panel-heading .accordion-toggle.collapsed {
 background-color: #F3F3F3;
 border-color: #D9D9D9;
 border-width: 0 0 0 1px;
 color: #aeacb4;
 font-weight: 300;
}
.accordion .panel-heading .accordion-toggle.collapsed > .icon-arrow {
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
 opacity: 0.75;
}
.accordion .panel-heading .accordion-toggle.collapsed > .icon-arrow:before {
 content: "\f067" !important;
}
.accordion .panel-heading .accordion-toggle > .icon-arrow {
 font-family: FontAwesome;
 font-size: 11px;
 padding: 0 5px;
 display: inline-block;
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 color: #f7f7f8;
}
.accordion .panel-heading .accordion-toggle > .icon-arrow:before {
 content: "\f068";
}
.accordion .panel-body {
 border: none !important;
}
.accordion.panel-group .panel + .panel {
 margin-top: 1px;
}
.accordion.accordion-white .panel-heading .accordion-toggle {
 background-color: #ffffff;
}
.accordion.accordion-white .panel-heading .accordion-toggle.collapsed {
 background-color: #ffffff;
}
.accordion.accordion-white.panel-group .panel + .panel {
 margin-top: 0;
 border-top: 1px solid #a8a8ac;
}
.accordion.heading-white .accordion-toggle {
 background-color: #ffffff;
 color: #8e8e93;
}
.accordion.heading-white .panel-group .panel + .panel {
 margin-top: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.accordion.no-padding .panel-body {
 padding: 0;
}
.accordion.body-light-grey .panel-body {
 background: #f7f7f8 !important;
}
.accordion .panel-group {
 margin-bottom: 0;
}
.accordion .panel-group .panel + .panel {
 margin-top: 0;
 border-top: 1px solid transparent;
}

.accordion-custom .panel {
 background-color: none;
 border: none;
 border-radius: 0;
 box-shadow: none;
}
.accordion-custom .panel .panel-heading {
 background-image: none;
 border-radius: 0;
 box-shadow: none;
 height: auto;
 padding: 0;
}
.accordion-custom .panel .panel-heading .accordion-toggle {
 background-color: none;
 color: #606060;
 display: block;
 font-size: 13px;
 font-weight: bold;
 line-height: 22px;
 padding: 10px;
 position: relative;
}
.accordion-custom .panel .panel-heading .accordion-toggle:hover, .accordion-custom .panel .panel-heading .accordion-toggle:focus {
 text-decoration: none;
}
.accordion-custom .panel .panel-heading .accordion-toggle.collapsed {
 background-color: none;
 border-color: #d9d9d9;
 border-bottom: 1px solid #e7e7e7 !important;
 border-width: 0 0 0 1px;
 color: #606060;
 font-weight: normal;
}
.accordion-custom .panel .panel-heading .accordion-toggle.collapsed > .icon-arrow::before {
 content: "\f067" !important;
 font-family: "fontawesome" !important;
 font-style: normal;
 font-weight: normal;
 background-color: #333;
 color: #ffffff;
}
.accordion-custom .panel .panel-heading .accordion-toggle.collapsed:hover > .icon-arrow::before {
 background-color: #007AFF;
}
.accordion-custom .panel .panel-heading .accordion-toggle > .icon-arrow {
 font-size: 11px;
 padding: 0 5px;
}
.accordion-custom .panel .panel-heading .accordion-toggle > .icon-arrow::before {
 content: "\f068";
 font-family: "fontawesome" !important;
 font-style: normal;
 font-weight: normal;
 display: block;
 float: left;
 font-weight: normal;
 height: 22px;
 line-height: 22px;
 text-align: center;
 width: 22px;
 background-color: #007AFF;
 color: #ffffff;
}
.accordion-custom .panel .panel-body {
 border: none !important;
}
/* ---------------------------------------------------------------------- */
/*  Affix
/* ---------------------------------------------------------------------- */
.bs-docs-sidenav {
 margin-bottom: 20px;
 margin-top: 20px;
}

.faq-sidebar .nav > li > a {
 color: #767676;
 display: block;
 font-size: 18px;
 font-weight: 500;
 padding: 4px 20px;
 margin-bottom: 5px;
}

.faq-sidebar .nav > li > a:focus, .faq-sidebar .nav > li > a:hover {
 background-color: transparent;
 border-left: 1px solid #007AFF;
 color: #007AFF;
 padding-left: 19px;
 text-decoration: none;
}

.faq-sidebar .nav > .active:focus > a, .faq-sidebar .nav > .active:hover > a, .faq-sidebar .nav > .active > a {
 background-color: transparent;
 border-left: 2px solid #007AFF;
 color: #007AFF;
 font-weight: 700;
 padding-left: 18px;
}

.faq-sidebar .nav .nav {
 display: none;
 padding-bottom: 10px;
}

.faq-sidebar .nav .nav > li > a {
 font-size: 12px;
 font-weight: 400;
 padding-bottom: 1px;
 padding-left: 30px;
 padding-top: 1px;
}

.faq-sidebar .nav .nav > li > a:focus, .faq-sidebar .nav .nav > li > a:hover {
 padding-left: 29px;
}

.faq-sidebar .nav .nav > .active:focus > a, .faq-sidebar .nav .nav > .active:hover > a, .faq-sidebar .nav .nav > .active > a {
 font-weight: 500;
 padding-left: 28px;
}

/*border*/
.no-border {
 border-color: transparent;
 border-width: 0; }

.no-borders {
 border-width: 0 !important; }

.b {
 border-color: rgba(120, 130, 140, 0.13);
 background-clip: padding-box; }

.b-a {
 border: 1px solid rgba(120, 130, 140, 0.13); }

.b-t {
 border-top: 1px solid rgba(120, 130, 140, 0.13); }

.b-r {
 border-right: 1px solid rgba(120, 130, 140, 0.13); }

.b-b {
 border-bottom: 1px solid rgba(120, 130, 140, 0.13); }

.b-l {
 border-left: 1px solid rgba(120, 130, 140, 0.13); }

.b-2x {
 border-width: 2px; }

.b-3x {
 border-width: 3px; }

.b-4x {
 border-width: 4px; }

.b-5x {
 border-width: 5px; }

.b-t-2x {
 border-top-width: 2px !important; }

.b-t-3x {
 border-top-width: 3px !important; }

.b-t-4x {
 border-top-width: 4px !important; }

.b-t-5x {
 border-top-width: 5px !important; }

.b-r-2x {
 border-right-width: 2px !important; }

.b-r-3x {
 border-right-width: 3px !important; }

.b-r-4x {
 border-right-width: 4px !important; }

.b-r-5x {
 border-right-width: 5px !important; }

.b-b-2x {
 border-bottom-width: 2px !important; }

.b-b-3x {
 border-bottom-width: 3px !important; }

.b-b-4x {
 border-bottom-width: 4px !important; }

.b-b-5x {
 border-bottom-width: 5px !important; }

.b-l-2x {
 border-left-width: 2px !important; }

.b-l-3x {
 border-left-width: 3px !important; }

.b-l-4x {
 border-left-width: 4px !important; }

.b-l-5x {
 border-left-width: 5px !important;
}
.b-orange{
 border-color: #F05A28;
}
.b-white{
 border-color: #ffffff;
}
.b-red{
 border-color: #C9473B;
}
.b-yellow{
 border-color: #E9D02F;
}
.b-green{
 border-color: #84B030;
}
.b-blue{
 border-color: #0E5D9E;
}
.category-tile{
 margin:0px !important;
 padding: 0px !important;
}

/*text and letter*/
/*
text
*/
.text-dark,
.text-dark-hover a:hover {
 color: #2e3e4e; }

a.blue:hover {
 background-color: #1590f2; }

a.text-blue:hover {
 color: #1590f2; }

.text-blue,
.text-blue-hover a:hover {
 color: #2196f3; }

.text-white {
 color: white !important; }

.text-white-lt {
 color: rgba(255, 255, 255, 0.54); }

.text-white-dk {
 color: rgba(255, 255, 255, 0.87); }

.text-black {
 color: black; }

.text-black-lt {
 color: rgba(0, 0, 0, 0.54); }

.text-black-dk {
 color: rgba(0, 0, 0, 0.87); }

.text-muted {
 color: inherit;
 opacity: 0.6; }

.text-color {
 color: rgba(0, 0, 0, 0.87); }

._100 {
 font-weight: 100; }

._200 {
 font-weight: 200; }

._300 {
 font-weight: 300; }

._400 {
 font-weight: 400; }

._500 {
 font-weight: 500; }

._600 {
 font-weight: 600; }

._700 {
 font-weight: 700; }

._800 {
 font-weight: 800; }
._900 {
 font-weight: 900; }

.text {
 font-size: 1rem; }

.text-xs {
 font-size: 0.75rem; }

.text-sm {
 font-size: 0.8rem; }

.text-md {
 font-size: 1.125rem; }

.text-lg {
 font-size: 1.5rem; }

.text-2x {
 font-size: 2em; }

.text-3x {
 font-size: 3em; }

.text-4x {
 font-size: 4em; }

.l-h {
 line-height: 1.5; }

.l-h-1x {
 line-height: 1; }

.l-h-2x {
 line-height: 2em; }

.l-s-1x {
 letter-spacing: 1px; }

.l-s-2x {
 letter-spacing: 2px; }

.l-s-3x {
 letter-spacing: 3px; }

.l-s-4x {
 letter-spacing: 4px; }

.l-s-n-1x {
 letter-spacing: -1px; }

.l-s-n-2x {
 letter-spacing: -2px; }

.l-s-n-3x {
 letter-spacing: -3px; }

.l-s-n-4x {
 letter-spacing: -4px; }


/*footer*/

.footer_menu a{
 background-color: inherit;
 color: grey;
 font-family: "proxima_nova_rgregular";
 font-size: 15px;
 font-style: normal;
 font-weight: normal;
 line-height: 24px;
}
.footer_menu h4{
 background-color: inherit;
 color: black;
 font-family: "proxima_nova_rgregular";
 font-size: 15px;
 font-style: normal;
 font-weight: normal;
 letter-spacing: 0.04em;
 line-height: 26px;
 margin-bottom: 8px;
 text-transform: uppercase;
}

.point-prev, .point-next{
 cursor: pointer;
}
.flag-tag{
 left: 0px;
 bottom: 10px;
}
.breadcrumb{
 padding:0px !important;
}


/*customize modal*/
.modal-scrollable{
 z-index: 10000!important;
}


/* ---------------------------------------------------------------------- */
/*  Portfolio
/* ---------------------------------------------------------------------- */
#Grid {
 min-height: 500px;
}

#Grid .mix {
 display: none;
 margin-bottom: 20px;
 vertical-align: top;
}

.portfolio-item .thumb-overlay {
 position: relative;
}

div.portfolio-info {
 margin: 2px 0 10px;
}

.portfolio-info ul {
 list-style: outside none none;
 margin: 0;
 padding: 0;
}

.portfolio-info ul li {
 border-right: 1px solid #e6e6e6;
 color: #b1b1b1;
 display: inline-block;
 font-size: 0.9em;
 margin-right: 8px;
 padding-right: 8px;
}

.portfolio-info ul li i.fa {
 margin-right: 4px;
}

.portfolio-item {
 position: relative;
}
.portfolio-item img {
 width: 100%;
}

.portfolio-item a.thumb-info span.thumb-info-title {
 background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
 bottom: 4px;
 color: #ffffff;
 font-size: 12px;
 font-weight: 700;
 left: 4px;
 padding: 10px;
 position: absolute;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
 text-transform: uppercase;
}

.portfolio-page ul.nav li a:hover, .portfolio-page ul.nav li.active a {
 background: #357ebd none repeat scroll 0 0;
 color: #ffffff;
}

.portfolio-page ul.nav li a {
 background: #eeeeee none repeat scroll 0 0;
 color: #555555;
 cursor: pointer;
 display: inline-block;
 margin-bottom: 5px;
 margin-right: 2px;
 padding: 6px 15px;
}

/*navigation menu*/
li.drop:hover{
 background: #ffffff;
}
video{
 /*background-image: url("/resources/theme2/pics/loading.gif");*/
 background-repeat: no-repeat;
 background-size:150px 100px ;
 background-position: center ;
 max-height: 310px;


}

@media (max-width: 992px) {
 .homebanner_sec img{
  /*max-height: 250px;*/
 }
}

/*hack in to modal css*/
.modal{
 border-radius: 0px !important;
}

.ali-balance{
 background-position: center;
 background-repeat:no-repeat;
 min-height:20px;
 min-width:58px;
 padding:0px !important;
}
.ali-pay{
 background-size:auto 100%;
 background-position: center;
 background-repeat:no-repeat;
 min-height:20px;
 min-width:58px;
 padding:0px !important;
}
.btn-primary:hover{
 background-color: white !important;
}

html{
 word-break: break-all;
}
.quick_links_wrap.quick_links_dockright{
 bottom: 100px;
}
.become-vip{
 height: 310px;
}
@media(max-width: 992px) {
 .become-vip{
  width: 100%;
  height: auto;
 }
}

#user-dropdwon a{
 font-size: 12px;
}
.clearfix{
 clear: both;
}


/*tooltip*/
.tooltip.top >.tooltip-arrow{
 background-color: #F05A28;
 display: none;
}
.tooltip > .tooltip-inner {
 font-weight: 800;
 background: #F05A28;
 padding: 5px;
 /*width: 550px !important;*/
}