/* You can add global styles to this file, and also import other style files */

/*backgrounds*/
.bg-white{
 background-color: white;
}

.clearfix{
 clear: both;
}

.bg-ys{
  background-color: #f96332 !important;
}
.show{
 display: block;
}

.float-above{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -2.5em;
 margin-left: -2.5em;
 /*background-color: #fa6b6b;*/
 width: 5em;
 height: 5em;
 /*background: rgba(250, 107, 107, 0.35);*/
 text-transform: uppercase;
 color: #fa6b6b;
 font-size: 5em;
 line-height: 5em;
 text-align: center;
 border-radius: 50%;
 z-index: 100000000;
}
.float-above span{
 display: table-cell;
 width: 5em;
 height: 5em;
 vertical-align: middle;
}


/*form validation*/
.ng-touched.ng-invalid{
 border-color: red;
}
/*.ng-touched.ng-valid {*/
 /*border-color: green;*/
/*}*/

/*
*custom css
*for the paddings and margins
*/
.bg-inverse {
 color: #eceeef;
 background-color: #373a3c;
}

.bg-faded {
 background-color: #f7f7f9;
}

.bg-primary {
 color: #fff;
 background-color: #0275d8;
}

a.bg-primary:focus,
a.bg-primary:hover {
 background-color: #025aa5;
}

.bg-success {
 color: #fff;
 background-color: #5cb85c;
}

a.bg-success:focus,
a.bg-success:hover {
 background-color: #449d44;
}

.bg-info {
 color: #fff;
 background-color: #5bc0de;
}
.bg-orange{
 background: #F05A28;
}

a.bg-info:focus,
a.bg-info:hover {
 background-color: #31b0d5;
}

.bg-warning {
 color: #fff;
 background-color: #f0ad4e;
}

a.bg-warning:focus,
a.bg-warning:hover {
 background-color: #ec971f;
}

.bg-danger {
 color: #fff;
 background-color: #d9534f;
}

a.bg-danger:focus,
a.bg-danger:hover {
 background-color: #c9302c;
}
.bg-grey{
 background-color: #f6f7f7;
}
.bg-transparent{
 background-color: transparent;
}
.m-a-0 {
 margin: 0 !important;
}

.m-t-0 {
 margin-top: 0 !important;
}

.m-r-0 {
 margin-right: 0 !important;
}

.m-b-0 {
 margin-bottom: 0 !important;
}

.m-l-0 {
 margin-left: 0 !important;
}

.m-x-0 {
 margin-right: 0 !important;
 margin-left: 0 !important;
}

.m-y-0 {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}

.m-a {
 margin: 1rem !important;
}

.m-t {
 margin-top: 1rem !important;
}

.m-r {
 margin-right: 1rem !important;
}

.m-b {
 margin-bottom: 1rem !important;
}

.m-l {
 margin-left: 1rem !important;
}

.m-x {
 margin-right: 1rem !important;
 margin-left: 1rem !important;
}

.m-y {
 margin-top: 1rem !important;
 margin-bottom: 1rem !important;
}

.m-x-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}

.m-a-md {
 margin: 1.5rem !important;
}

.m-t-md {
 margin-top: 1.5rem !important;
}

.m-r-md {
 margin-right: 1.5rem !important;
}

.m-b-md {
 margin-bottom: 1.5rem !important;
}

.m-l-md {
 margin-left: 1.5rem !important;
}

.m-x-md {
 margin-right: 1.5rem !important;
 margin-left: 1.5rem !important;
}

.m-y-md {
 margin-top: 1.5rem !important;
 margin-bottom: 1.5rem !important;
}

.m-a-lg {
 margin: 3rem !important;
}

.m-t-lg {
 margin-top: 3rem !important;
}

.m-r-lg {
 margin-right: 3rem !important;
}

.m-b-lg {
 margin-bottom: 3rem !important;
}

.m-l-lg {
 margin-left: 3rem !important;
}

.m-x-lg {
 margin-right: 3rem !important;
 margin-left: 3rem !important;
}

.m-y-lg {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
}

.p-a-0 {
 padding: 0 !important;
}

.p-t-0 {
 padding-top: 0 !important;
}

.p-r-0 {
 padding-right: 0 !important;
}

.p-b-0 {
 padding-bottom: 0 !important;
}

.p-l-0 {
 padding-left: 0 !important;
}

.p-x-0 {
 padding-right: 0 !important;
 padding-left: 0 !important;
}

.p-y-0 {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}

.p-a {
 padding: 1rem !important;
}

.p-t {
 padding-top: 1rem !important;
}

.p-r {
 padding-right: 1rem !important;
}

.p-b {
 padding-bottom: 1rem !important;
}

.p-l {
 padding-left: 1rem !important;
}

.p-x {
 padding-right: 1rem !important;
 padding-left: 1rem !important;
}

.p-y {
 padding-top: 1rem !important;
 padding-bottom: 1rem !important;
}

.p-a-md {
 padding: 1.5rem !important;
}

.p-t-md {
 padding-top: 1.5rem !important;
}

.p-r-md {
 padding-right: 1.5rem !important;
}

.p-b-md {
 padding-bottom: 1.5rem !important;
}

.p-l-md {
 padding-left: 1.5rem !important;
}

.p-x-md {
 padding-right: 1.5rem !important;
 padding-left: 1.5rem !important;
}

.p-y-md {
 padding-top: 1.5rem !important;
 padding-bottom: 1.5rem !important;
}

.p-a-lg {
 padding: 3rem !important;
}

.p-t-lg {
 padding-top: 3rem !important;
}

.p-r-lg {
 padding-right: 3rem !important;
}

.p-b-lg {
 padding-bottom: 3rem !important;
}

.p-l-lg {
 padding-left: 3rem !important;
}

.p-x-lg {
 padding-right: 3rem !important;
 padding-left: 3rem !important;
}

.p-y-lg {
 padding-top: 3rem !important;
 padding-bottom: 3rem !important;
}

.pos-f-t {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1030;
}


/*margins*/
.m-a-sm {
 margin: 0.5rem !important; }

.m-t-sm {
 margin-top: 0.5rem !important; }

.m-r-sm {
 margin-right: 0.5rem !important; }

.m-b-sm {
 margin-bottom: 0.5rem !important; }

.m-l-sm {
 margin-left: 0.5rem !important; }

.m-x-sm {
 margin-right: 0.5rem !important;
 margin-left: 0.5rem !important; }

.m-y-sm {
 margin-top: 0.5rem !important;
 margin-bottom: 0.5rem !important; }

.m-a-xs {
 margin: 0.25rem !important; }

.m-t-xs {
 margin-top: 0.25rem !important; }

.m-r-xs {
 margin-right: 0.25rem !important; }

.m-b-xs {
 margin-bottom: 0.25rem !important; }

.m-l-xs {
 margin-left: 0.25rem !important; }

.m-x-xs {
 margin-right: 0.25rem !important;
 margin-left: 0.25rem !important; }

.m-y-xs {
 margin-top: 0.25rem !important;
 margin-bottom: 0.25rem !important; }

.p-a-sm {
 padding: 0.5rem !important; }

.p-t-sm {
 padding-top: 0.5rem !important; }

.p-r-sm {
 padding-right: 0.5rem !important; }

.p-b-sm {
 padding-bottom: 0.5rem !important; }

.p-l-sm {
 padding-left: 0.5rem !important; }

.p-x-sm {
 padding-right: 0.5rem !important;
 padding-left: 0.5rem !important; }

.p-y-sm {
 padding-top: 0.5rem !important;
 padding-bottom: 0.5rem !important; }

.p-a-xs {
 padding: 0.25rem !important; }

.p-t-xs {
 padding-top: 0.25rem !important; }

.p-r-xs {
 padding-right: 0.25rem !important; }

.p-b-xs {
 padding-bottom: 0.25rem !important; }

.p-l-xs {
 padding-left: 0.25rem !important; }

.p-x-xs {
 padding-right: 0.25rem !important;
 padding-left: 0.25rem !important; }

.p-y-xs {
 padding-top: 0.25rem !important;
 padding-bottom: 0.25rem !important; }
.padding {
 padding: 1.5rem 1.5rem; }

.margin {
 margin-bottom: 1.5rem; }

.padding-out {
 margin: -1.5rem -1.5rem; }

/*vertical aligns*/
.vertical-align-bottom {
 vertical-align: bottom !important;
}

.vertical-align-middle {
 vertical-align: middle !important;
}

.vertical-align-top {
 vertical-align: top !important;
}

/*break the word*/
/*body{*/
 /*word-break: break-all;*/
/*}*/