
    <div [ngClass]="wrapperClass" #sliders   >
        <ul>
            <!-- SLIDE -1 -->
            <li *ngFor="let slide of slides | async; let last=last" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{{slide.mainMedia|imgUrl}}"  alt="slide1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" >
                <!-- LAYERS -->
                <!-- TEXT -->
                <div class="tp-caption lfl stb"
                     data-x="205"
                     data-y="center"
                     data-voffset="60"
                     data-speed="600"
                     data-start="900"
                     data-easing="Power4.easeOut"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2;">
                    <div class="tp-caption1--wd-1">{{slide.description |limitText:80}}</div>
                    <div class="tp-caption1--wd-2">{{slide.title}}</div>
                    <div class="tp-caption1--wd-3">{{slide.thirdTitle}} </div>
                    <a routerLink="" class="link-button button--border-thick" data-text="Shop now!">现在购买</a>
                </div>
            </li>
            <!-- /SLIDE -1 -->
        </ul>
    </div>
