<!-- CONTENT section -->
<div id="pageContent">
    <div class="container">
        <!-- title -->
        <div class="title-box">
            <h1 class="text-center text-uppercase title-under">Checkout</h1>
        </div>
        <!-- /title -->
        <div class="row">
            <section class="col-md-8 col-lg-8">
                <!-- checkout-step -->
                <div class="panel-group" id="checkout">
                    <div class="panel panel-checkout" role="tablist">
                        <!-- panel heading -->
                        <div class="panel-heading active" role="tab">
                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapseFive">订单详情</a> </h4>
                            <div class="panel-heading__number">1</div>
                        </div>
                        <!-- /panel heading -->
                        <!-- panel body -->
                        <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <div class="clearfix"></div>
                                <div class="btn-top">
                                    <!-- order-review-table -->
                                    <table class="order-review-table">
                                        <thead>
                                        <tr>
                                            <th>产品</th>
                                            <th>单价</th>
                                            <th>数量</th>
                                            <th>小计</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let product of cart">
                                            <td>
                                                <h5 class="order-review-table__product-name text-left text-uppercase">
                                                    <a routerLink="/products/{{product.id}}">{{product.product.name}}</a>
                                                </h5>
                                                <ul class="order-review-table__list-parameters">
                                                    <li>
                                                        <img src="{{product.product.mainMedia+'?size=80x120'|imgUrl}}">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="order-review-table__product-price unit-price">
                                                    {{product.price}}
                                                </div>
                                            </td>
                                            <td>
                                                <span class="color">{{product.quantity}}</span>
                                            </td>
                                            <td>
                                                <div class="order-review-table__product-price subtotal">
                                                    {{cartService.getSubTotal(product)}}
                                                </div>
                                            </td>
                                            <td><a (click)="cartService.deleteItem(product)" class="btn btn--bg-green "><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- /order-review-table -->
                                    <!-- order-review-total -->
                                    <div class="row clearfix">
                                        <div class="pull-right col-xl-6 col-lg-9 col-md-9 col-xs-12 btn-top">
                                            <div class="order-review-total">
                                                <table class="table-total">
                                                    <tfoot>
                                                        <th>总计:</th>
                                                        <td>{{cartService.getTotalPrice()}}</td>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- /order-review-total -->
                                </div>
                            </div>
                        </div>
                        <!-- /panel body -->
                    </div>
                    <div class="panel panel-checkout" role="tablist">
                        <!-- panel heading -->
                        <div class="panel-heading active" role="tab">
                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapseOne">发货地址信息</a> </h4>
                            <div class="panel-heading__number">2</div>
                        </div>
                        <!-- /panel heading -->
                        <!-- panel body -->
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <a class="pull-right link-functional" (click)="enableAddressEdit()"><span class="icon icon-create"></span>编辑</a>
                                <div class="clearfix"></div>
                                <form action="checkout-step_submit" [formGroup]="customerInfoForm" novalidate>
                                    <div class="col-sm-12"><span class="note pull-left">*必填</span> </div>
                                    <div class="form-group col-md-4">
                                        <label >姓名  <sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label >电话号码  <sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="phoneNumber">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label >备用电话号码  <sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="backupPhoneNumber">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label >证件号码: <sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="id">
                                    </div>
                                    <div class="col-sm-12" formGroupName="address">
                                        <h5>地址:</h5>
                                        <div class="form-group col-md-4">
                                            <label >国家 <sup>*</sup></label>
                                            <input type="text"
                                                   [typeahead]="countryOptions"
                                                   [typeaheadOptionField]="'国家'"
                                                   [typeaheadMinLength]="0"
                                                   class="form-control" formControlName="country">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >省 <sup>*</sup></label>
                                            <input type="text"
                                                   [typeahead]="provinceOptions"
                                                   [typeaheadOptionField]="'省'"
                                                   [typeaheadMinLength]="0"
                                                   class="form-control" formControlName="province">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >城市 <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="city">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >邮政编码  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="postcode">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >乡镇/街道名称  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="streetName">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >小区/建筑名称</label>
                                            <input type="text" class="form-control" formControlName="buildingName">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >门牌号</label>
                                            <input type="text" class="form-control" formControlName="streetNumber">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label >房间号</label>
                                            <input type="text" class="form-control" formControlName="roomNumber">
                                        </div>
                                    </div>
                                    <p class="clearfix text-right">
                                        <a (click)="payCart()" class="btn btn--ys btn--xl">确认购买<span class="icon icon--flippedX icon-reply"></span></a>
                                    </p>
                                </form>
                                {{customerInfoForm.value|json}}
                            </div>
                        </div>
                        <!-- /panel body -->
                    </div>
                </div>
                <!-- /checkout-step -->
            </section>
            <aside class="col-md-4 col-lg-4 shopping_cart-aside">
                <!--  -->
                <div class="box-border box-border--padding fill-bg">
                    <h4 class="mega title-bottom1">你的进度</h4>
                    <!--  -->
                    <div class="block-underline-top">
                        <a class="pull-right link-functional" href="#">Change</a>
                        <h6 class="small">发货地址</h6>
                        <ul class="categories-list">
                            <li><a href="#">Lorem ipsum dolor sit amet </a></li>
                            <li><a href="#">Conse ctetur adipisicing </a></li>
                            <li><a href="#">Elit sed do eiusmod tempor</a></li>
                            <li><a href="#">Incididunt ut labore </a></li>
                            <li><a href="#">Et dolore magna aliqua</a></li>
                        </ul>
                    </div>
                    <!-- / -->
                    <!--  -->
                    <div class="block-underline-top">
                        <a class="pull-right link-functional" href="#">Change</a>
                        <h6 class="small">SHIPPING ADDRESS</h6>
                        <ul class="categories-list">
                            <li><a href="#">Lorem ipsum dolor sit amet </a></li>
                            <li><a href="#">Conse ctetur adipisicing </a></li>
                            <li><a href="#">Elit sed do eiusmod tempor</a></li>
                            <li><a href="#">Incididunt ut labore </a></li>
                            <li><a href="#">Et dolore magna aliqua</a></li>
                        </ul>
                    </div>
                    <!-- / -->
                    <!--  -->
                    <div class="block-underline-top">
                        <a class="pull-right link-functional" href="#">Change</a>
                        <h6 class="small">SHIPPING METHOD</h6>
                        <ul class="categories-list">
                            <li><a href="#">Lorem ipsum dolor sit amet </a></li>
                        </ul>
                    </div>
                    <!-- / -->
                    <!--  -->
                    <div class="block-underline-top">
                        <a class="pull-right link-functional" href="#">Change</a>
                        <h6 class="small">PAYMENT METHOD</h6>
                        <ul class="categories-list">
                            <li><a href="#">Lorem ipsum dolor sit amet </a></li>
                        </ul>
                    </div>
                    <!-- / -->
                </div>


            </aside>
        </div>




    </div>
</div>
<!-- End CONTENT section -->