<!-- CONTENT section -->
<div id="pageContent">
    <div class="container">
        <!-- title -->
        <div class="title-box">
            <h1 class="text-center text-uppercase title-under">付款</h1>
        </div>
        <!-- /title -->
        <div class="row">
            <section class="col-sm-8 col-lg-8">
                <!-- checkout-step -->
                <div class="row clearfix text-center" *ngIf="cartService.cart.length<1">
                    <p>你还有没有添加任何的产品!&nbsp;</p>
                    <a routerLink="/products"  class="btn btn--ys btn--xl">现在去添加吧! <span class="icon icon--flippedX icon-reply"></span></a>

                </div>
                <div *ngIf="cartService.cart.length>1"  class="panel-group" id="checkout">
                    <div class="panel panel-checkout" role="tablist">
                        <!-- panel heading -->
                        <div class="panel-heading active" role="tab">
                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapseFive">订单详情</a> </h4>
                            <div class="panel-heading__number">1</div>
                        </div>
                        <!-- /panel heading -->
                        <!-- panel body -->
                        <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <div class="clearfix"></div>
                                <div class="row ">
                                    <!-- order-review-table -->

                                    <div class="list" >
                                        <div class="list-group-item clearfix hidden-xs">
                                            <div class="col-sm-3">产品</div>
                                            <div class="col-sm-2">图片</div>
                                            <div class="col-sm-1">单价</div>
                                            <div class="col-sm-2">数量</div>
                                            <div class="col-sm-3">小计</div>
                                            <div class="col-sm-1">操作</div>
                                        </div>

                                        <div class="list-group-item clearfix" *ngIf="nonOverseaProducts.length>0" >
                                            境内产品:
                                        </div>
                                        <div class="list-group-item clearfix" *ngFor="let product of nonOverseaProducts">
                                            <div class="col-sm-3">
                                                <h5 class="order-review-table__product-name text-left text-uppercase">
                                                    <a routerLink="/product/{{product.id}}">{{product.product.name}}</a>
                                                </h5>
                                                <ul class="order-review-table__list-parameters">
                                                    <li>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <img src="{{product.product.mainMedia+'?size=80x120'|imgUrl}}"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="order-review-table__product-price unit-price">
                                                    {{product.price}}
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="number" step="1" min="1"  (change)="cartService.updateItemQuantity($event,product.id)" [ngModel]="product.quantity" class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="order-review-table__product-price subtotal">
                                                    {{cartService.getSubTotal(product)}}
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <a (click)="cartService.deleteItem(product)" class="btn btn--bg-green "><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="list-group-item clearfix" *ngIf="nonOverseaProducts.length>0">
                                               境内产品总计:{{cartService.getNonOverseaTotalPrice().toFixed(2)}}
                                        </div>
                                        <div class="list-group-item clearfix m-t-lg " *ngIf="overseaProducts.length>0">
                                            <td>直邮产品:</td>
                                        </div>

                                        <div class="list-group-item clearfix" *ngFor="let product of overseaProducts">
                                            <div class="col-sm-3">
                                                <h5 class="order-review-table__product-name text-left text-uppercase">
                                                    <a routerLink="/product/{{product.id}}">{{product.product.name}}</a>
                                                </h5>
                                                <ul class="order-review-table__list-parameters">
                                                    <li>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <img src="{{product.product.mainMedia+'?size=80x120'|imgUrl}}"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="order-review-table__product-price unit-price">
                                                    {{product.price}}
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <input step="1" type="number" min="1" class="form-control" (change)="cartService.updateItemQuantity($event,product.id)" [ngModel]="product.quantity">
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="order-review-table__product-price subtotal">
                                                    {{cartService.getSubTotal(product)}}
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <a (click)="cartService.deleteItem(product)" class="btn btn--bg-green "><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="list-group-item clearfix" *ngIf="overseaProducts.length>0">
                                                直邮产品总计:{{cartService.getOverseaTotalPrice().toFixed(2)}}
                                        </div>
                                    </div>
                                    <!-- /order-review-table -->
                                    <!-- order-review-total -->
                                    <div class="row clearfix" >
                                        <div class="pull-right col-xl-6 col-lg-9 col-sm-9 col-xs-12 btn-top">
                                            <div class="order-review-total">
                                                <table class="table-total">
                                                    <tfoot>
                                                        <th>产品总计:</th>
                                                        <td>{{cartService.getTotalPrice()}}</td>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- /order-review-total -->
                                </div>
                            </div>
                        </div>
                        <!-- /panel body -->
                    </div>
                    <div>
                        <div *ngIf="cartService.cart.length>0" class="panel panel-checkout" role="tablist">
                        <!-- panel heading -->
                        <div class="panel-heading active" role="tab">
                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapseOne">发货地址信息</a> </h4>
                            <div class="panel-heading__number">2</div>
                        </div>
                        <!-- /panel heading -->
                        <!-- panel body -->
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" style="position: relative;">
                            <div class="float-above" *ngIf="fetching"><span class="fa fa-spin fa-spinner"></span></div>
                            <div class="panel-body">
                                <a class="pull-right link-functional" (click)="enableAddressEdit()"><span class="icon icon-create"></span>编辑</a>
                                <div class="clearfix"></div>
                                <form  (ngSubmit)="payCart()" [formGroup]="customerInfoForm" novalidate>
                                    <div class="row"><span class="note pull-left">*必填</span> </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label >姓名  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="name">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.name.valid || (customerInfoForm.controls.name.pristine)">
                                                请填写姓名
                                            </small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label >电话号码  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="cellphone">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.cellphone.valid || (customerInfoForm.controls.cellphone.pristine)">
                                                请填写电话号码
                                            </small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label >备用电话号码  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="homephone">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.homephone.valid || (customerInfoForm.controls.homephone.pristine)">
                                                请填写备用电话号码
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row" formGroupName="address">
                                        <h5>地址:</h5>
                                        <div class="form-group col-sm-4">
                                            <label >国家 <sup>*</sup></label>
                                            <input type="text"
                                                   [typeahead]="countryOptions"
                                                   [typeaheadOptionField]="'国家'"
                                                   [typeaheadMinLength]="0"
                                                   (typeaheadOnSelect)="countrySelected($event)"
                                                   class="form-control" formControlName="country">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.address.controls.country.valid || (customerInfoForm.controls.address.controls.country.pristine)">
                                                请选择国家
                                            </small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label >省 <sup>*</sup></label>
                                            <input type="text"
                                                   [typeahead]="provinceOptions"
                                                   [typeaheadOptionField]="'省'"
                                                   [typeaheadMinLength]="0"
                                                   (typeaheadOnSelect)="provinceSelected($event)"
                                                   class="form-control" formControlName="province">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.address.controls.province.valid || (customerInfoForm.controls.address.controls.province.pristine)">
                                                请选择省
                                            </small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label >城市 <sup>*</sup></label>
                                            <input type="text"
                                                   [typeahead]="cityOptions"
                                                   [typeaheadOptionField]="'市'"
                                                   [typeaheadMinLength]="0"
                                                   (typeaheadOnSelect)="citySelected($event)"
                                                   class="form-control" formControlName="city">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.address.controls.city.valid || (customerInfoForm.controls.address.controls.city.pristine)">
                                                请选择城市
                                            </small>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-sm-4">
                                            <label >邮政编码  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="postcode" required>
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.address.controls.postcode.valid || (customerInfoForm.controls.address.controls.postcode.pristine)">
                                                请填写邮编
                                            </small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label >区  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="district">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label >详细地址  <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="fullAddress">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="customerInfoForm.controls.address.controls.fullAddress.valid || (customerInfoForm.controls.address.controls.fullAddress.pristine)">
                                                请填详细地址
                                            </small>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label >订单备注</label>
                                            <textarea  class="form-control" formControlName="shippingRemark" rows="3"></textarea>
                                        </div>
                                    </div>

                                </form>
                                <form class="m-t" [formGroup]="idCardForm" novalidate *ngIf="overseaProducts.length>0">
                                    <div class="row" *ngIf="cartService.hasOversea()">
                                        <h5 >您选有海外直邮的产品,您需要提供您身份证的正反面照</h5>
                                        <div class="form-group col-sm-12">
                                            <label >证件号码: <sup>*</sup></label>
                                            <input type="text" class="form-control" formControlName="idNumber"  minlength="18">
                                            <small class="alert-danger p-a p-t-sm p-b-sm" [hidden]="idCardForm.controls.idNumber.valid || (idCardForm.controls.idNumber.pristine && !overseaSubmitted)">
                                                请填入18位有效的身份证号码!
                                            </small>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>正面<sup>*</sup></h6>
                                            <!--<input type="file" noAttachmentValidator file-added formControlName="idCardFront"  [(fileHolder)]="idCardFront"  (fileHolderChange)="idCardFrontChanged($event)" class="form-control" ng2FileSelect  [uploader]="uploader" />-->
                                            <file-input formControlName="idCardFront" ></file-input>
                                            <div *ngIf="idCardForm.get('idCardFront').value!=''" class="m-t">
                                                <button class="btn btn--ys m-b" (click)="idCardForm.controls.idCardFront.setValue('')"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                                <img [src]="idCardForm.get('idCardFront').value.dataUrl" width="100%">
                                            </div>
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="idCardForm.controls.idCardFront.valid || (idCardForm.controls.idCardFront.pristine && !overseaSubmitted)">
                                                请添加身份证正面照
                                            </small>

                                        </div>
                                        <div class="col-sm-6">
                                            <h6>反面<sup>*</sup></h6>
                                            <file-input formControlName="idCardBack" ></file-input>
                                            <!--<input type="file" class="form-control" formControlName="idCardBack" file-added (fileHolderChange)="idCardBackChanged($event)" [(fileHolder)]="idCardBack"  ng2FileSelect [uploader]="uploader" />-->
                                            <div *ngIf="idCardForm.get('idCardBack').value!=''" class="m-t">
                                                <button class="btn btn--ys m-b" (click)="idCardForm.controls.idCardBack.setValue('')"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                                <img [src]="idCardForm.controls.idCardBack.value.dataUrl" width="100%" class="clearfix">
                                            </div>
                                            <small class="alert-danger p-a p-t-sm p-b-sm" minlength="18" [hidden]="idCardForm.controls.idCardBack.valid || (idCardForm.controls.idCardBack.pristine && !overseaSubmitted)">
                                                请添加身份证反面照
                                            </small>

                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix row text-right p-t-lg">
                                    <div class="col-sm-6 pull-left text-left" *ngIf="nonOverseaProducts.length>0">
                                        <button (click)="payNonOverseaProducts()"  [disabled]="!customerInfoForm.valid && !payingNonOversea" class="btn btn--ys">支付境内产品确<span class="icon icon--flippedX icon-reply"></span></button>
                                    </div>
                                    <div class="col-sm-6 pull-right text-right" *ngIf="overseaProducts.length>0">
                                        <button (click)="payOverseaProducts()"  [disabled]="(!customerInfoForm.valid ||!idCardForm.valid) && !payingOversea" class="btn btn--ys ">支付海外产品<span class="icon icon--flippedX icon-reply"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /panel body -->
                        </div>
                    </div>
                </div>
                <!-- /checkout-step -->
            </section>
            <aside class="col-sm-4 col-lg-4 shopping_cart-aside">
                <!--  -->
                <div class="box-border box-border--padding fill-bg">
                    <h4 class="mega title-bottom1">你的进度</h4>
                    <!--  -->
                    <div class="block-underline-top">
                        <a class="pull-right link-functional" href="#">Change</a>
                        <h6 class="small">发货地址</h6>
                        <ul class="categories-list">
                            <li><a href="#">Lorem ipsum dolor sit amet </a></li>
                            <li><a href="#">Conse ctetur adipisicing </a></li>
                            <li><a href="#">Elit sed do eiusmod tempor</a></li>
                            <li><a href="#">Incididunt ut labore </a></li>
                            <li><a href="#">Et dolore magna aliqua</a></li>
                        </ul>
                    </div>
                    <!-- / -->

                </div>


            </aside>
        </div>




    </div>
</div>
<!-- End CONTENT section -->