<div id="pageContent">
    <div class="container">
        <!-- two columns -->
        <div class="row">
            <!--====================================== left column ======================================-->
            <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 ">
                <!--<h4 class="title-aside-wrapper text-uppercase mobile-menu-off">Categories</h4>-->
                <!--======= navbar-vertical =======-->
                <nav class="navbar navbar-vertical mobile-menu-off">
                    <div class="responsive-menu mainMenu">
                        <div class="responsive-menu-toggled responsive-menu-view">
                            <div class="responsive-menu-toggled-controls">
                                <div class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="menu-text">MENU</span>
                                </div>
                            </div>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="dl-close"><a href="#"><span class="icon icon-close"></span>close</a></li>
                            <li *ngFor="let fc of firstLevelCategories"  class="dropdown dropdown-mega-menu dropdown-three-col">
                                <a  class="dropdown-toggle" data-toggle="dropdown">
                                            {{fc.name}}
                                    <span class="icon icon-navigate_next pull-right"></span>
                                    <!--<span class="badge badge&#45;&#45;menu  pull-right">NEW</span>-->
                                </a>
                                <ul class="dropdown-menu multicolumn three-col" role="menu">
                                    <li class="dl-back"><a href="#"><span class="icon icon-chevron_left"></span>返回</a></li>

                                    <li *ngFor="let sc of secondLevelCategories[fc.id]" >
                                        <a *ngIf="sc.name=='冻鲜礼包'"routerLink="products/{{sc.id}}co">{{sc.name}}</a>
                                        <a *ngIf="sc.name!='冻鲜礼包'"routerLink="products/{{sc.id}}">{{sc.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--======= /navbar-vertical =======-->
                <!--======= banner-asid =======-->
                <div class="bannerAsid nav-dot hidden-sm  hidden-xs" slick [numberXl]="1" [numberLg]="1" [numberMd]="1" [numberSm]="1" [numberXs]="1">
                    <div class="carousel-slides">
                        <!-- slide-->
                        <div class="text-center">
                            <a href="listing.html"><img class="img-responsive-inline" src="/assets/images/custom/banner-aside-01.jpg" alt=""></a>
                        </div>
                        <!-- /slide-->
                        <!-- slide-->
                        <div class="text-center">
                            <a href="listing.html"><img class="img-responsive-inline" src="/assets/images/custom/banner-aside-02.jpg" alt=""></a>
                        </div>
                        <!-- /slide-->
                        <!-- slide-->
                        <div class="text-center">
                            <a href="listing.html"><img class="img-responsive-inline" src="/assets/images/custom/banner-aside-03.jpg" alt=""></a>
                        </div>
                        <!-- /slide-->
                    </div>
                </div>
                <!--======= /banner-asid =======-->
                <div class="divider divider--lg"></div>

                <!--======= facebook =======-->
                <div class="text-center hidden-sm  hidden-xs">
                    <div class="display-inline-block"><iframe src="http://www.facebook.com/plugins/likebox.php?id=134612429900944&amp;width=270px&amp;connections=9&amp;stream=false&amp;header=false&amp;height=216"  style="border:none; overflow:hidden; width:270px; height:216px;"></iframe></div>
                </div>
                <!--======= /facebook =======-->
                <div class="divider divider--lg hidden-sm  hidden-xs"></div>
                <!--======= testimonials =======-->
                <div class="fill-bg-custom aside-inner color-white" slick [numberXl]="1" [arrows]="'false'" [dots]="true" [numberLg]="1" [numberMd]="1" [numberSm]="1" [numberXs]="1" >
                    <h4 class="text-center text-uppercase color-white mega">testimonials</h4>
                    <div class="testimonialsAsid nav-dot nav-dot-invert carousel-slides">
                        <!-- slide-->
                        <a href="blog-post-right-column.html" class="link-hover-block">
                            <div class="text-center">
                                <img class="img-responsive-inline" src="/assets/images/custom/slider-blog-img01.jpg" alt="">
                                <p>
                                    <span class="icon"></span> Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis.
                                </p>
                                <p>
                                    <b>Eleanor</b><br>
                                    <em>designer</em>
                                </p>
                            </div>
                        </a>
                        <!-- /slide-->
                        <!-- slide-->
                        <a href="blog-post-right-column.html" class="link-hover-block">
                            <div class="text-center">
                                <img class="img-responsive-inline" src="/assets/images/custom/slider-blog-img02.jpg" alt="">
                                <p>
                                    <span class="icon"></span> Tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. Lorem set magna.
                                </p>
                                <p>
                                    <b>Piper</b><br>
                                    <em>designer</em>
                                </p>
                            </div>
                        </a>
                        <!-- /slide-->
                        <!-- slide-->
                        <a href="blog-post-right-column.html" class="link-hover-block">
                            <div class="text-center">
                                <img class="img-responsive-inline" src="/assets/images/custom/slider-blog-img03.jpg" alt="">
                                <p>
                                    <span class="icon"></span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod.
                                </p>
                                <p>
                                    <b>Mark</b><br>
                                    <em>designer</em>
                                </p>
                            </div>
                        </a>
                        <!-- /slide-->
                    </div>
                </div>
                <!--======= /testimonials =======-->
                <div class="divider divider--lg"></div>
                <!--======= carousel-new =======-->
                <!-- title -->
                <h4 class="text-uppercase mega">RECENT POSTS</h4>
                <!-- /title -->
                <div  slick [numberXl]="1" [numberLg]="1" [numberMd]="1" [numberSm]="1" [numberXs]="1">
                    <div class="carousel-products row layout-none-xl carousel-slides" id="postsCarousel">
                        <!-- slide-->
                        <div class="col-sm-3 col-xl-6">
                            <!--  -->
                            <div class="recent-post-box">
                                <div class="col-lg-12 col-xl-12">
                                    <a href="blog-post-right-column.html">
                                            <span class="figure">
                                            <img src="/assets/images/custom/recent-posts-01.jpg" alt="">
                                            <span class="figcaption label-top-left">
                                            <span>
                                            <b>26</b>
                                            <em>jun</em>
                                            </span>
                                            </span>
                                            </span>
                                    </a>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <div class="recent-post-box__text">
                                        <h4><a href="blog-post-right-column.html">Mauris lacinia lectus</a></h4>
                                        <div class="author">by <b>Admin</b></div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet.
                                        </p>
                                        <a class="link-commet" href="blog-post-right-column.html"><span class="icon icon-message "></span><span class="number">0</span> comment(s)</a>
                                    </div>
                                </div>
                            </div>
                            <!-- / -->
                        </div>
                        <!-- /slide -->
                        <!-- slide -->
                        <div class="col-sm-3 col-xl-6">
                            <!--  -->
                            <div class="recent-post-box">
                                <div class="col-lg-12 col-xl-12">
                                    <a href="blog-post-right-column.html">
                                            <span class="figure">
                                            <img src="/assets/images/custom/recent-posts-02.jpg" alt="">
                                            <span class="figcaption label-top-left">
                                            <span>
                                            <b>26</b>
                                            <em>jun</em>
                                            </span>
                                            </span>
                                            </span>
                                    </a>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <div class="recent-post-box__text">
                                        <h4><a href="blog-post-right-column.html">Lorem ipsum dolor</a> </h4>
                                        <div class="author">by <b>Admin</b></div>
                                        <p>
                                            Dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet.
                                        </p>
                                        <a class="link-commet" href="blog-post-right-column.html"><span class="icon icon-message "></span><span class="number">0</span> comment(s)</a>
                                    </div>
                                </div>
                            </div>
                            <!-- / -->
                        </div>
                        <!-- /slide -->
                        <!-- slide -->
                        <div class="col-sm-3 col-xl-6">
                            <!--  -->
                            <div class="recent-post-box">
                                <div class="col-lg-12 col-xl-12">
                                    <a href="blog-post-right-column.html">
                                            <span class="figure">
                                            <img src="/assets/images/custom/recent-posts-03.jpg" alt="">
                                            <span class="figcaption label-top-left">
                                            <span>
                                            <b>26</b>
                                            <em>jun</em>
                                            </span>
                                            </span>
                                            </span>
                                    </a>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <div class="recent-post-box__text">
                                        <h4><a href="blog-post-right-column.html">dolore magna aliqua</a></h4>
                                        <div class="author">by <b>Admin</b></div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet.
                                        </p>
                                        <a class="link-commet" href="blog-post-right-column.html"><span class="icon icon-message "></span><span class="number">0</span> comment(s)</a>
                                    </div>
                                </div>
                            </div>
                            <!-- / -->
                        </div>
                        <!-- /slide -->
                    </div>
                    <div class="carousel-products__button button-bottom carousel-products__button_aside">
                        <span class="btn-prev"></span>
                        <span class="btn-next"></span>
                    </div>
                </div>
                <!--======= /carousel-new =======-->
                <div class="divider divider--lg visible-xs"></div>

            </aside>
            <!--====================================== /left column ======================================-->
            <!--====================================== center column ======================================-->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-10" id="centerColumn">
                <div class="divider divider--lg visible-sm visible-xs"></div>
                <!-- Slider section -->
                <section class="offset-top-0" id="slider">
                    <!--
                        #################################
                        - THEMEPUNCH BANNER -
                        #################################
                        -->
                    <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
                    <div class="tp-banner-container slider-layout-2">
                        <revSlider [slides]="revSliders" [wrapperClass]="'tp-banner'" ></revSlider>
                    </div>
                </section>
                <!-- END REVOLUTION SLIDER -->
                <!-- category section -->
                <div class="divider divider--md0 visible-sm visible-xs"></div>
                <!-- /category section -->
                <!--  -->
                <slick01 [numberXl]="5" [numberLg]="3" [numberMd]="3" [numberSm]="2" [numberXs]="1" [products]="newProducts" [title]="'新品上架'" ></slick01>
                <!-- / -->
                <hr class="hr-md">
                <!--  -->
                <div class="content-sm" >
                    <!--</div>-->
                    <slick01 [numberXl]="5" [numberLg]="3" [numberMd]="3" [numberSm]="2" [numberXs]="1" [products]="hotSalesProducts" [title]="'热销产品'" ></slick01>
                    <div class="divider divider--md0 visible-sm visible-xs"></div>
                    <hr class="hr-md">
                    <slick01 [numberXl]="5" [numberLg]="3" [numberMd]="3" [numberSm]="2" [numberXs]="1" [products]="regularProducts" [title]="'更多产品'" ></slick01>

                </div>
                <!-- / -->
                <hr>
                <!-- brands-carousel -->
                <div class="content section-indent-bottom" slick [numberXl]="10" [numberLg]="6" [numberMd]="3" [numberSm]="3" [numberXs]="2">
                    <div class="row">
                        <div class="brands-carousel carousel-slides" #slides>
                            <div><a href="#"><img src="/assets/images/custom/brand-01.png" alt=""></a></div>
                            <div><a href="#"><img src="/assets/images/custom/brand-02.png" alt=""></a></div>
                            <div><a href="#"><img src="/assets/images/custom/brand-03.png" alt=""></a></div>
                            <div><a href="#"><img src="/assets/images/custom/brand-04.png" alt=""></a></div>
                            <div><a href="#"><img src="/assets/images/custom/brand-05.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <!-- /brands-carousel -->
            </div>
            <!--====================================== /center column ======================================-->
        </div>
		<!-- /tow columns-->


		<!-- Button trigger modal -->

    </div>
</div>
	